name: Run DynamoRIO

on:
  push:

jobs:
  run-dynamorio:
    name: '${{ matrix.os }} + ${{ matrix.arch }}'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04]
        arch: [armv7, aarch64, x64, x86, mips, mips64, riscv64]

    steps:
      - name: Check out repository
        uses: actions/checkout@v4 
        with:
          ref: 712a47f946b98c30097eb1ada086ea00b18681ec
          
      - name: Build repository 
        run: cd C && make blurhash_encoder && make blurhash_decoder
        continue-on-error: true 

      - name: Install DynamoRIO
        if: runner.os == 'Linux'
        run: | 
          sudo apt-get update
          sudo apt-get install -y libunwind8
          wget -P /tmp/ https://github.com/DynamoRIO/dynamorio/releases/download/cronbuild-10.91.19860/DynamoRIO-Linux-10.91.19860.tar.gz && tar -xzf /tmp/DynamoRIO-Linux-10.91.19860.tar.gz -C /tmp/
           
      - name: Disable Address Space Randomization
        if: runner.os == 'Linux'
        run: sudo sysctl -w kernel.randomize_va_space=0
      
      - name: Disable swapping 
        if: runner.os == 'Linux' 
        run: sudo swapoff -a

      - name: Make parent folder
        run: mkdir -p dynamoriologs
                           
      - name: Run DynamoRIO (Memtrace)
        run: |
          #!/bin/bash
          set +e 
          
          export DYNAMORIO_HOME="/tmp/DynamoRIO-Linux-10.91.19860"
          export GITHUB_PATH="$DYNAMORIO_HOME/bin64:$DYNAMORIO_HOME/tools/bin64:$GITHUB_PATH"
          export LD_LIBRARY_PATH="$DYNAMORIO_HOME/lib64:$DYNAMORIO_HOME/tools/lib64/release:$LD_LIBRARY_PATH"
          LOG_DIR="./dynamoriologs/logs_memtrace"
          mkdir -p "$LOG_DIR"
          mkdir -p blurhash_encoder_memtrace
          mkdir -p blurhash_decoder_memtrace
          OUTPUT_FILE="output_hash.txt"
          
          # Testing out the main functionality of the blurhash encoder
          cd blurhash_encoder_memtrace && wget --no-check-certificate 'https://drive.google.com/uc?export=download&id=16f5dpdAb6XZRS76mUzEW-qMHwCeaxGM0' -O ./downloaded_file.png
          timeout -k 15 60 $DYNAMORIO_HOME/bin64/drrun -t drmemtrace -offline -- ../C/blurhash_encoder 10 10 downloaded_file.png > "../$OUTPUT_FILE"
          PID=$!
          wait $PID
          DRMEMTRACE_DIR=$(find . -type d -name "drmemtrace*")
          timeout -k 15 60 $DYNAMORIO_HOME/bin64/drrun -t drmemtrace -indir "$DRMEMTRACE_DIR" > "../${LOG_DIR}/blurhashEncoder-cachesim.log" 2>&1
          timeout -k 15 60 $DYNAMORIO_HOME/bin64/drrun -t drmemtrace -tool TLB -indir "$DRMEMTRACE_DIR" > "../${LOG_DIR}/blurhashEncoder-TLB.log" 2>&1
          timeout -k 15 60 $DYNAMORIO_HOME/bin64/drrun -t drmemtrace -tool reuse_distance -reuse_distance_histogram -indir "$DRMEMTRACE_DIR" > "../${LOG_DIR}/blurhashEncoder-reuse_dist.log" 2>&1
          timeout -k 15 60 $DYNAMORIO_HOME/bin64/drrun -t drmemtrace -tool reuse_time -indir "$DRMEMTRACE_DIR" > "../${LOG_DIR}/blurhashEncoder-reuse_time.log" 2>&1
          timeout -k 15 60 $DYNAMORIO_HOME/bin64/drrun -t drmemtrace -tool basic_counts -indir "$DRMEMTRACE_DIR" > "${LOG_DIR}/blurhashEncoder-basic_counts.log" 2>&1
          timeout -k 15 60 $DYNAMORIO_HOME/bin64/drrun -t drmemtrace -tool view -indir "$DRMEMTRACE_DIR"  > "../${LOG_DIR}/blurhashEncoder-view.log" 2>&1
          timeout -k 15 60 $DYNAMORIO_HOME/bin64/drrun -t drmemtrace -tool histogram -indir "$DRMEMTRACE_DIR" > "../${LOG_DIR}/blurhashEncoder-histogram.log" 2>&1

          
          cd .. && rm -r blurhash_encoder_memtrace

          
          # Testing out the main functionality of the blurhash decoder
          cd blurhash_decoder_memtrace && wget --no-check-certificate 'https://drive.google.com/uc?export=download&id=16f5dpdAb6XZRS76mUzEW-qMHwCeaxGM0' -O downloaded_file.png
          HASH=$(tail -n 1 "../$OUTPUT_FILE")
          timeout -k 15 60 $DYNAMORIO_HOME/bin64/drrun -t drmemtrace -offline -- ../C/blurhash_decoder "$HASH" 1080 720 decoded.png
          PID=$!
          wait $PID
          DRMEMTRACE_DIR=$(find . -type d -name "drmemtrace*")
          timeout -k 15 60 $DYNAMORIO_HOME/bin64/drrun -t drmemtrace -indir "$DRMEMTRACE_DIR" > "../${LOG_DIR}/blurhashDecoder-cachesim.log" 2>&1
          timeout -k 15 60 $DYNAMORIO_HOME/bin64/drrun -t drmemtrace -tool TLB -indir "$DRMEMTRACE_DIR" > "../${LOG_DIR}/$blurhashDecoder-TLB.log" 2>&1
          timeout -k 15 60 $DYNAMORIO_HOME/bin64/drrun -t drmemtrace -tool reuse_distance -reuse_distance_histogram -indir "$DRMEMTRACE_DIR" > "../${LOG_DIR}/blurhashDecoder-reuse_dist.log" 2>&1
          timeout -k 15 60 $DYNAMORIO_HOME/bin64/drrun -t drmemtrace -tool reuse_time -indir "$DRMEMTRACE_DIR" > "../${LOG_DIR}/blurhashDecoder-reuse_time.log" 2>&1
          timeout -k 15 60 $DYNAMORIO_HOME/bin64/drrun -t drmemtrace -tool basic_counts -indir "$DRMEMTRACE_DIR" > "${LOG_DIR}/blurhashDecoder-basic_counts.log" 2>&1
          timeout -k 15 60 $DYNAMORIO_HOME/bin64/drrun -t drmemtrace -tool view -indir "$DRMEMTRACE_DIR"  > "../${LOG_DIR}/blurhashDecoder-view.log" 2>&1
          timeout -k 15 60 $DYNAMORIO_HOME/bin64/drrun -t drmemtrace -tool histogram -indir "$DRMEMTRACE_DIR" > "../${LOG_DIR}/blurhashDecoder-histogram.log" 2>&1

          # Remove empty log files
          find "$LOG_DIR" -type f -size 0 -delete
          
          echo "=========[DynamoRIO Memtrace service finished]========="
                    
      - name: Upload DynamoRIO aggregated reports
        uses: actions/upload-artifact@v4
        with:
          name: dynamoRIO-aggregated-reports-${{ github.event.repository.name }}-on-${{ matrix.os }}-under-${{ matrix.arch }}-from_branch_${{ github.ref_name }}
          path: './dynamoriologs/*'
